# Apple Private Keys
*.p8

# Environment Variables
.env
.env.local
.env.production

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Supabase
.branches
.temp

# macOS
.DS_Store

# Secrets
secrets/
*.key
*.pem
